.calc{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.displayClear{
    background-color: grey;
}

.row{
    background-color: grey;
}

.calc > div {
    width: 120px;
}

#inp {
    width: 63%;
    height: 60%;
}

.calcButtons .displayClear{
    display: flex;
    flex-direction:column;
}

.row .displayClear{
    display: flex;
    border: solid #000;
    border-width: 0 20px;
    border-style:solid;
    flex-direction: row;
    flex-wrap: wrap;
}

button{
    box-shadow: 2px 1px 1px black;
    width: 25px;
}

input {
    text-align:right;
}