.calc{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: red;
    border-style:solid;
    justify-content: center;
    align-items: center;
}

.calc > div {
    width: 200px;
}

.displayClear{
    background-color: black;
    display: flexbox;
    flex-direction: row;
    border: red;
    border-style:solid;
    flex-wrap: wrap;
}

#inp {
    width: 40%;
}


.calcButtons{
    background-color: black;
    display: flex;
    flex-direction:column;
}

.row{
    display: flexbox;
    border: red;
    border-style:solid;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 50%;
}

button{
    box-shadow: 2px 1px 1px black;
}

input {
    text-align:right;
}